@media screen and (max-width: 768px) {
  /* navbar section */

  #navbar {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  #hamburger-navlinks {
    height: 7rem;
    width: 6rem;
    top: 12vh;
    right: 6vw;
    visibility: hidden;
  }

  /* hero section */

  #hero {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  /* about section */

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .about-details-container {
    height: auto;
    width: 80vw;
  }

  /* skills section */

  .skill-container {
    height: 40vh;
  }

  .skill-logo {
    height: 7.5rem;
    width: auto;
  }

  .skillsname {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 640px) {
  /* navbar section */
  #navbar {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  /* hero section */

  #hero {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  /* about section */
  #about {
    padding-top: 1.5rem;
  }

  /* skills section */

  .skill-container {
    height: 17rem;
    width: 85vw;
  }

  .skill-logo {
    height: 6rem;
    width: auto;
  }

  .skillsname {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 480px) {
  /* navbar section */

  #navbar {
    display: none;
  }
  #hamburger {
    display: flex;
  }

  #hamburger-navlinks {
    height: 7rem;
    width: 6rem;
    top: 12vh;
    right: 6vw;
    visibility: hidden;
  }

  /* hero section  */
  #hero {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .profileImg {
    height: 20rem;
    width: 20rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  /* about section */

  .about-pic-container {
    height: 300px;
    width: 300px;
  }

  /* skills section */
  .skill-container {
    height: 55vh;
    width: 85vw;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 360px) {
  #navbar {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  #about {
    overflow: scroll;
  }
}
